body {
    max-width: 1600px;
}

body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Raleway", sans-serif;
}

/** Scrollbar **/

div#sidebar {
    background-color: #244264;
    color: lightgray;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    border: 4px solid whitesmoke;
    border-left-width: 0;
    background-color: gray;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
}

/** Sidebar **/

div#avatar {
    margin: 20px 0 20px 40px;
    padding: 16px;
    border-radius: 90px;
    background-color: whitesmoke;
    width: 155px;
    height: 155px;
    border: 4px solid #9f9f9f;
}

div#avatar > img {
    width: 100%;
}

div#index {
    margin: 25px 80px 20px 40px;
}

div#index > a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
    border-bottom: 2px solid #244264;
}

div#index > a:hover {
    color: #ffcc63;
    border-color: #ffcc63;
}

div#socials {
    margin: 30px 40px;
}

div#socials > a {
    margin-right: 10px;
    text-decoration: none;
}

div#socials > a:hover {
    color: #ffcc63;
}

div#socials > a > i {
    font-size: 27px;
}

/** Content **/

div#content {
    padding: 20px;
}

div.content-box > h2 {
    margin: 0 0 15px 0;
    color: #5a5a5a;
}

div#terminal {
    min-height: 200px;
    background-color: #2b2b2b;
}

div#terminal > header {
    padding: 5px 0;
    text-align: center;
    background-color: #414141;
    color: lightgray;
    font-weight: bold;
}

div#terminal-content {
    font-family: monaco, Consolas, Lucida Console, monospace;
    padding: 5px 10px;
    color: lightgray;
    font-size: 15px;
}

/** Media queries desktop **/

@media only screen and (min-width: 992px) {
    html {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
    }

    body {
        display: flex;
        box-shadow: 0 0 20px 2px #8A8A8A;
    }

    div#sidebar {
        flex: 0 0 235px;
        display: block !important;
    }

    div#sidebar > nav {
        position: fixed;
    }

    span#open-menu,
    img#scroll-up {
        display: none;
    }
}

/** Media queries mobile **/

@media only screen and (max-width: 992px) {
    div#content {
        padding: 18px;
    }

    div#sidebar, div#overlay {
        position: fixed;
        display: none;
        height: 100%;
    }

    div#sidebar {
        z-index: 3;
        width: 235px;
    }

    div#overlay {
        z-index: 2;
        background-color: rgba(0, 0, 0, .4);
        width: 100%;
    }

    span#open-menu {
        position: fixed;
        bottom: 250px;
        left: 0;
        padding: 16px 2px;
        font-size: 25px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: #7c804b;
        color: #3f3f3f;
    }

    img#scroll-up {
        z-index: 3;
        position: fixed;
        bottom: 17px;
        right: 17px;
        opacity: .5;
        width: 40px;
    }
}