body {
    max-width: 1400px;
}

body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-weight: 500;
}

/** Scrollbar **/

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    border: 4px solid whitesmoke;
    border-left-width: 0;
    background-color: #aaaaaa;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9c9c9c;
}

/** Sidebar **/

div#sidebar {
    background-color: #495457;
    width: 250px;
}

div#sidebar, div#overlay {
    position: fixed;
    height: 120%;
}

div#avatar {
    margin: 20px auto;
    padding: 20px;
    border-radius: 90px;
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    border: 4px solid #9f9f9f;
}

div#avatar > img {
    width: 100%;
}

div#contact {
    text-align: center;
    font-size: 15px;
    color: lightgray;
}

div#index {
    margin: 25px 80px 20px 40px;
}

div#index > a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
    border-bottom: 2px solid #495457;
    color: lightgray;
}

div#index > a:hover {
    border-color: lightgray;
}

div#socials {
    margin: 30px 35px;
}

div#socials > a {
    margin-right: 10px;
    text-decoration: none;
    color: lightgray;
}

div#socials > a > i {
    font-size: 27px;
}

/** Content **/

div#content {
    padding: 0 20px 20px 20px;
}

div.content-box > h2 {
    margin: 0;
    padding: 20px 0 15px 0;
    color: #515151;
}

div#whoami > div {
    padding: 0 10px;
}

div#description {
    margin-top: 20px;
    text-align: justify;
    color: #3c3c3c;
}

div#terminal {
    min-height: 130px;
    background-color: #2b2b2b;
}

div#terminal > header {
    padding: 5px 0;
    text-align: center;
    background-color: #414141;
    color: lightgray;
    font-weight: 500;
}

div#terminal-content {
    font-family: monaco, Consolas, Lucida Console, monospace;
    padding: 5px 10px;
    color: lightgray;
    font-size: 15px;
}

div#projects > div {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

div#projects div.project-box {
    position: relative;
    flex: 1 0 200px;
    text-align: justify;
    line-height: 22px;
    text-decoration: none;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    padding: 20px 25px;
    margin: 0 10px 20px 10px;
    color: #4b4b4b;
}

div#projects div.project-links {
    position: absolute;
    top: 38px;
    right: 25px;
}

div#projects div.project-links > a {
    color: #8e8e8e;
    text-decoration: none;
    margin-left: 5px;
}

div#projects div.project-box > p > a {
    color: #4d755a;
    text-decoration: none;
}

div#projects div.project-box h3 {
    color: #404040;
    margin: 0;
}

div#projects div.project-box img {
    position: relative;
    top: 8px;
    width: 35px;
}

div#projects div.project-box p {
    margin-bottom: 0;
}

div.timeline {
    position: relative;
}

ul.timeline {
    overflow-x: hidden;
    list-style-type: none;
}

ul.timeline > li {
    flex: 0 0 auto;
}

ul.timeline div.timeline-header {
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

div.timeline-header span.timeline-name {
    font-size: 18px;
    color: #3c3c3c;
}

div.timeline-header span.timeline-place {
    color: #303030;
    font-size: 14px;
}

ul.timeline div.timeline-timestamp {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    position: relative;
    color: #626262;
    font-size: 14px;
}

ul.timeline div.timeline-timestamp span {
    margin: 0;
}

ul.timeline i.fas {
    color: #69797c;
    position: absolute;
}

div#skills {
    color: #404040;
    margin-bottom: -10px;
}

div#skills div.skill-box {
    padding: 0 10px 20px 10px;
}

div#skills div.skill-box h3 {
    margin: 0;
    padding-bottom: 10px;
}

div#skills div.skill-box h3 > i {
    color: #69797c;
}

div#skills div.skill-box-list {
    display: flex;
    flex-wrap: wrap;
}

div#skills div.skill-box-list div {
    margin: 5px;
    padding: 10px;
    border: 1px solid #9c9c9c;
    border-radius: 3px;
}

/** Media queries desktop **/

@media only screen and (min-width: 992px) {
    html {
        background-color: whitesmoke;
    }

    body {
        margin: 0 auto;
        box-shadow: 0 0 20px 2px #8A8A8A;
    }

    div#content {
        margin-left: 250px;
    }

    ul.timeline {
        display: flex;
        align-items: center;
        margin: 0 60px;
        padding: 0;
    }

    ul.timeline i.fas {
        background-color: whitesmoke;
        top: -15px;
        left: 50%;
        padding: 5px 10px;
        margin-left: -20px;
    }

    ul.timeline div.timeline-timestamp {
        border-top: 2px solid #D6DCE0;
    }

    div.timeline i.timeline-navigator {
        position: absolute;
        top: 117px;
        cursor: pointer;
        padding: 10px;
        color: #6c6c6c;
    }

    div.timeline i.timeline-right {
        right: 8px;
    }

    div.timeline i.timeline-left {
        left: 8px;
    }

    div#sidebar {
        display: block !important;
    }

    div#open-menu,
    img#scroll-up {
        display: none;
    }
}

/** Media queries mobile **/

@media only screen and (max-width: 992px) {
    body {
        margin: 0;
    }

    div#content {
        padding: 0 18px 18px 18px;
    }

    ul.timeline {
        padding: 20px 30px;
        margin: 0;
    }

    ul.timeline i.fas {
        background-color: white;
        padding: 10px 5px;
        top: -22px;
        left: -14px;
    }

    ul.timeline div.timeline-header {
        padding: 30px 40px 5px 40px;
    }

    ul.timeline div.timeline-timestamp {
        padding: 5px 40px 40px 40px;
    }

    ul.timeline div.timeline-timestamp {
        border-bottom: 1px dashed #D6DCE0;
    }

    ul.timeline div.timeline-timestamp,
    ul.timeline div.timeline-header {
        border-left: 2px solid #D6DCE0;
    }

    div#sidebar, div#overlay,
    div.timeline i.timeline-navigator {
        display: none;
    }

    div#sidebar {
        z-index: 3;
    }

    div#overlay {
        z-index: 2;
        background-color: rgba(0, 0, 0, .4);
        width: 100%;
    }

    div#open-menu {
        z-index: 3;
        position: fixed;
        bottom: 200px;
        left: -8px;
        padding: 25px 10px;
    }

    div#open-menu > span {
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 16px solid #5f6d71;
    }

    div#open-menu > span > span {
        position: relative;
        left: -13px;
        top: 1px;
        font-size: 22px;
        color: whitesmoke;
    }

    img#scroll-up {
        z-index: 3;
        opacity: .6;
        position: fixed;
        bottom: 14px;
        right: 17px;
        width: 40px;
    }
}