#social {
    margin: 15px 0;
    text-align: center;

    h4 {
        margin-bottom: 20px;
    }

    table {
        margin: 0;
    }

    table > tbody > tr > td {
        border-top: 0;
        padding: 0;
    }
}
