#posts {
    margin: 15px 0;

    h2 {
        text-align: center;
        color: #686868;
    }

    div {
        position: relative;
        text-align: left;
        padding-bottom: 10px;
    }

    div > p {
        position: absolute;
        color: #828282;
        right: 10px;
        bottom: -15px;
        font-size: 14px;
    }
}
