#skills {
    margin: 15px 0;
    text-align: center;

    h4 {
        margin-bottom: 20px;
    }

    table {
        margin: 15px 0;
        cursor: pointer;
    }

    table:last-child {
        margin-bottom: -8px;
    }

    table > tbody > tr:hover {
        background-color: #f6f6f6;
    }

    table > tbody > tr > td {
        border-color: #ededed;
    }

    .level-bar {
        background-color: #ebebeb;
        margin-top: 7px;
    }

    .level-bar > div {
        background-color: #c4cbb9;
        height: 8px;
        -webkit-transition: width 1s; /* Safari */
        transition: width 1s;
    }
}
