#informations {
    margin: 15px 0;
    text-align: center;

    h4 {
        margin-bottom: 20px;
    }

    table {
        margin-bottom: 5px;
    }

    blockquote {
        color: #787660;
        font-size: 13px;
        padding: 0 7px 10px 7px;
        margin-bottom: 0;
    }
}
